<app-header></app-header>
<div class="cart-container">
    <mat-card class="book-details">

        <div class="my-cart-title"><span class="my-cart-title">My cart</span></div>

        <div class="my-cart-details">
            <div class="order-pic"><img [src]="bookImage" alt="image" class="Orderpic"></div>
            <div class="order-details">
                <div class="order-book-name">{{bookdetail.bookName}}</div>
                <div class="order-book-author-name">by {{bookdetail.authorName}}</div>
                <div class="order-book-price">Rs. {{bookdetail.bookPrice}}</div>
            </div>
        </div>
        <div class="cart-order"><button mat-flat-button color="primary">Place Order</button></div>
    </mat-card>
    
    <mat-card class="book-details ">
        <!-- customer-details -->
        <div class="customer-detail-title">Customer Details</div>
        <div class="name-phoneNumber">
            <div class="name">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" value="">
                  </mat-form-field>
            </div>
            <div class="phoneNumber">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="Phone Number" value="">
                  </mat-form-field>
            </div>
        </div>
        <div class="name-phoneNumber">
            <div class="name">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>pincode</mat-label>
                    <input matInput placeholder="Pincode" value="">
                  </mat-form-field>
            </div>
            <div class="phoneNumber">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Locality</mat-label>
                    <input matInput placeholder="Locality" value="">
                  </mat-form-field>
            </div>
        </div>
        <div class="address">
            <mat-form-field class="example-full-width-textarea" appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput placeholder="Address"></textarea>
              </mat-form-field>
        </div>
            <div class="name-phoneNumber">
                <div class="name">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>City/Town</mat-label>
                        <input matInput placeholder="City/Town" value="">
                      </mat-form-field>
                </div>
                <div class="phoneNumber">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Landmark</mat-label>
                        <input matInput placeholder="Landmark" value="">
                      </mat-form-field>
                </div>
            </div>
        <div class="cart-order">cart-order</div>
    </mat-card>

    <mat-card class="book-details">

        <div class="my-cart-title"><span class="my-cart-title">Order Summary</span></div>

        <div class="my-cart-details">
            <div class="order-pic"><img [src]="bookImage" alt="image" class="Orderpic"></div>
            <div class="order-details">
                <div class="order-book-name">{{bookdetail.bookName}}</div>
                <div class="order-book-author-name">by {{bookdetail.authorName}}</div>
                <div class="order-book-price">Rs. {{bookdetail.bookPrice}}</div>
            </div>
        </div>
        <div class="cart-order"><button mat-flat-button color="primary" routerLink="/place-order">Place Order</button></div>
    </mat-card>
</div>
<app-footer></app-footer>