<div class="main-login-container">
    <div class="main-div">
        <div class="back-img">
            <div class="img">
                <div class="pic">
                    <img src="../../../assets/2766594.png" alt="" class="pic-src">
                </div>
                <div class="pic-content"></div>
            </div>
        </div>
        <div class="login-signup">

            <mat-tab-group class="tabs" mat-align-tabs="center">
                <!-- Login -->
                <mat-tab label="Login"  class="Email-Login">
                    <div class="login-section">
                        <div class="email-details">

                            <div class="emailId-label">
                                Email Id
                            </div>
                            <div class="emailId-input">
                                <mat-form-field class="example-full-width" appearance="outline">

                                    <input matInput type="email" placeholder="Akash" value="" [(ngModel)]="toLoginUser.email">
                                    <!-- <mat-icon matSuffix routerLink="/dashboard">add_red_eye</mat-icon> -->
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="email-details">

                            <div class="emailId-label">
                                Password
                            </div>
                            <div class="emailId-input" *ngIf="eyeFlag == false">
                                <mat-form-field class="example-full-width" appearance="outline">

                                    <input matInput type="password" placeholder="Password..." [(ngModel)]="toLoginUser.password">
                                    <mat-icon matSuffix (click)="eyeClick()"><svg class='fontawesomesvg'
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                            <!--! Font Awesome Free 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                            <path
                                                d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z" />
                                        </svg>
                                    </mat-icon>

                                </mat-form-field>
                                <div class="forget-pswd">forget password?</div>
                            </div>
                            <div class="emailId-input" *ngIf="eyeFlag == true">
                                <mat-form-field class="example-full-width" appearance="outline">

                                    <input matInput type="text" placeholder="Password..." [(ngModel)]="toLoginUser.password">
                                    <mat-icon matSuffix (click)="eyeClick()"><svg class='fontawesomesvg'
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                            <!--! Font Awesome Free 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                            <path
                                                d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c5.2-11.8 8-24.8 8-38.5c0-53-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zm223.1 298L373 389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5z" />
                                        </svg>
                                    </mat-icon>

                                </mat-form-field>
                                <div class="forget-pswd">forget password?</div>
                            </div>
                            <div class="addToCart bookItems">
                                <button mat-flat-button class="addCartButton" color="primary">
                                    <div class="aa" routerLink="/dashboard" (click)="toLoginUserData(this.toLoginUser)"> Login</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <!-- sign-up -->
                <mat-tab label="Sign-up" class="Email-Login">
                    <div class="login-section">
                        <div class="email-details">
                            <div class="emailId-label">
                                Full Name
                            </div>
                            <div class="emailId-input">

                                <div class="example-full-width sign-up-name" appearance="outline">

                                    <input type="text" placeholder="Akash" value="" [(ngModel)]="userData.fullName">
                                </div>
                            </div>
                        </div>

                        <div class="email-details">
                            <div class="emailId-label">
                                Email Id
                            </div>
                            <div class="emailId-input">
                                <div class="example-full-width sign-up-name" appearance="outline">

                                    <input type="email" placeholder="Akash@xyz.com" value="" [(ngModel)]="userData.email">
                                </div>
                            </div>
                        </div>

                        <div class="email-details">

                            <div class="emailId-label">
                                Password
                            </div>
                            <div class="emailId-input">

                                <div class="example-full-width sign-up-name" appearance="outline">

                                    <input type="password" placeholder="*****" value="" [(ngModel)]="userData.password">
                                </div>
                            </div>
                        </div>

                        <div class="email-details">
                            <div class="emailId-label">
                                Mobile Number
                            </div>
                            <div class="emailId-input">

                                <div class="example-full-width sign-up-name" appearance="outline">

                                    <input type="text" placeholder="99101..." value="" [(ngModel)]="userData.phoneNumber">
                                </div>
                            </div>

                        </div>

                        <div class="email-details">

                            <!-- buttons -->
                            <div class="addToCart bookItems">
                                <button mat-flat-button class="signupButton" color="primary">
                                    <div class="aa"  (click)="signUpClick()">Sign-up</div>
                                </button>
                            </div>

                        </div>
                    </div>
                </mat-tab>

            </mat-tab-group>


        </div>

    </div>
</div>