.example-spacer {
    flex: 1 1 auto;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.header {
    background-color: #A03037;
    color: #ffffff;
    display: flex;

    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.search-bar {
    margin-left: 60px;
    height: 30px;
    width: 70%;
    border-color: #ffffff;
    appearance: none;
}

.mat-menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 182px;
    padding: 16px 20px 28px 26px;
    margin: 0px 0px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

.label {
    margin-top: 0px;
    width: 33px;
    height: 13px;
    padding: 0px;
    font-size: 12px;
}

.profile-icon {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.profile-label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}

.example-icon {
    padding: 0px;
    height: 10px;

}

::ng-deep .main-con {
    // margin-right: 80px;
    margin-top: 38px;
    padding: 10px 20px 10px 5px;
    width: 240px;
    height: 200px;
}

.log-out-btn {
    width: 127px;
    height: 33px;
    border: 1px solid #A03037;
    border-radius: 2px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #A03037;
    opacity: 1;
}

.main-container{
    padding-bottom:10px;
    padding-left: 19px;
}
.name-position-label {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}
.login-welcome-label{
    text-align: left;
// font: normal normal normal 12px/16px Roboto;
font-size:12px;
letter-spacing: 0px;
color: #878787;

opacity: 1;
}
.login-profile-label{
    display:flex;
    justify-content: flex-start;
    align-items: center;

    text-align: left;
    font-size:14px;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
    padding-bottom: 5px;
}
.login-btn {
    border: 1px solid #A03037;
    border-radius: 2px;
    opacity: 1;
    color: #A03037;
    width: 127px;
    height: 33px;
}
.login-welcome-label-div{
    margin-bottom: 6px;
}
.hr-line{
    padding-left: 5px;
    width: 95%;
    color: #878787;
    display: flex;
    justify-content: center;
}
.login-Profile-label-div{
    margin-top: 10px;
    margin-bottom: 5px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    font-size:14px;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}