<app-header></app-header>
<div class="main-container-please-login">
    <div class="main-content">
        <div class="title-header">
            PLEASE LOG IN
        </div>

        <div class="title-content">
            Login to view items in your wishlist.
        </div>

        <div class="img">
            <img src="../../../assets/Page-1.svg" alt="" class="src">
        </div>
        <div class="login-button" routerLink="/login">
            <button mat-stroked-button>LOGIN/SIGNUP</button>
        </div>
    </div>
</div>