.container{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5% 10%;

}
.content{
    padding: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
font: normal normal normal 18px/22px Lato;
letter-spacing: 0px;
color: #333232;
opacity: 1;
}
.table-content{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // border: 1px solid;
    width: 600px;
}
.table{
    margin: 20px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.table-header{
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    // background-color: #DCDCDC;
    width: 960px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    opacity: 1;
}
.header-content{
    padding: 10px 10px 10px 10px ;
    // border: 1px solid;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.table-row{
    display: flex;
    flex-direction: row;

    width: 960px;
    height: 100px;
    
}
.row-content{
    padding: 10px 10px 10px 10px ;
    border: 1px solid;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DCDCDC;

text-align: left;
font: normal normal medium 12px/15px Lato;
letter-spacing: 0px;
color: #333232;
opacity: 1;
padding: 10px 10px;
font-size: small;
}
.order-label{
    margin-top: -100px;
    text-align: left;
font: normal normal solid 25px/30px Roboto;
letter-spacing: 0px;
color: #333232;
text-transform: capitalize;
opacity: 1;
}