<app-header></app-header>
<div class="container">
    <div class="img">
        <img src="../../../assets/place-order-successful/Group 4132.svg" alt="success">
    </div>
    <div class="content">
        hurray!!! your order is confirmed <br> the order id is #123456 save the order id for <br> further communication..
    </div>
    <div class="table-content">
        <div class="table">
        <div class="table-header">
            <div class="header-content">Email</div>
            <div class="header-content">Contact us</div>
            <div class="header-content">Address</div>
        </div>
        <div class="table-row">
            <div class="row-content">Email</div>
            <div class="row-content">Contact us</div>
            <div class="row-content">Address</div>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>