<app-header></app-header>
<div class="container">
    <div class="img">
        <img src="../../../assets/place-order-successful/Group 4132.svg" alt="success">
        
    </div>
    <h1 class="order-label">Order Placed Successfully</h1>
    <div class="content">
        hurray!!! your order is confirmed <br> the order id is #{{Id}} save the order id for <br> further communication..
    </div>
    <div class="table-content">
        <div class="table">
        <div class="table-header">
            <div class="header-content">Email us</div>
            <div class="header-content">Contact us</div>
            <div class="header-content">Address</div>
        </div>
        <div class="table-row">
            <div class="row-content">admin@bookstore.com</div>
            <div class="row-content">+91 8163475881</div>
            <div class="row-content">42, 14th Main, 15th Cross, Sector 4 ,opp to BDA <br>complex, near Kumarakom restaurant, HSR Layout, <br>Bangalore 560034</div>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>